build/
Debug/
Release/

**/.idea/
**/.vscode/
**/*.swp
**/*.swo
**/*.asv

*.tmp
*.log
*.bak
*.sav
*.DS_Store
Thumbs.db

*.o
*.d
*.a
*.elf
*.bin
*.hex
*.map

CMakeFiles/
CMakeCache.txt
cmake-build-*/

*.launch
**/__pycache__/

!*.ioc
!*.project
!*.cproject
!.mxproject
!.settings/

#Middlewares/
#Drivers/
